### SvelteKit ###
.svelte-kit/
build/
package/

### Vite ###
vite.config.ts.timestamp-*

### Dotenv ###
.env
.env.*
!.env.sample

### Node.js/Yarn ###
.yarn/*
!.yarn/plugins
!.yarn/releases
node_modules/*
yarn-error.log

### Rust ###
parser/target/**

### Edtitors ###
## WebStorm ##
.idea/**

### Other ###
onedrive/.cache.json
