### Gatsby ###
.cache/
public/

### Dotenv ###
.env

### Node.js/Yarn ###
.yarn/*
!.yarn/plugins
!.yarn/releases
node_modules/*
yarn-error.log

### Edtitors ###
## WebStorm ##
.idea/**

### Other ###
onedrive/.cache.json
