### SvelteKit ###
.svelte-kit/**
build/**

### Vite ###
vite.config.ts.timestamp-*

### Dotenv ###
.env
.env.*
!.env.sample

### Node.js/pnpm ###
**/node_modules/**

### Rust ###
parser/target/**

### Edtitors ###
## WebStorm ##
.idea/**

### Other ###
onedrive/.cache.json
